# Flask Secret Key
SECRET_KEY=your-secret-key-here

# MongoDB Connection String
MONGODB_URI=mongodb+srv://shaikabdulrahiman0718:9MVMzzvlOH9C2dh3@cluster0.axirwvd.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# For production, use MongoDB Atlas or similar cloud database
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/blogging_platform?retryWrites=true&w=majority 